* {
  box-sizing: border-box;
}
html {
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f0eb;
}
.main-overflow {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100vh;
}

header {
  background-color: white;
  padding: 24px;
}
.header-content {
  max-width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.close-icon {
  position: absolute;
  top: 2px;
  right: 9px;
  cursor: pointer;
  display: none;
}
nav a {
  text-decoration-line: none;
  color: #492118;
  font-weight: 700;
  font-size: 20px;
}
nav a + a {
  margin-left: 42px;
}

main {
  padding: 0 24px;
}
.hero-img {
  margin: 0 auto;
  max-width: 1290px;
}
.hero-img img {
  width: 100%;
  margin-top: 100px;
}
.hero-text p {
  color: #492118;
  font-weight: 400;
  font-size: 25px;
}
.hero-text {
  text-align: center;
}

.section img {
  width: 100%;
}
.section {
  max-width: 1040px;
  margin: 0 auto;
}
.section p {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 80px;
  color: #492118;
}

.go-to-top {
  text-align: right;
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 80px;
}
.go-to-top a {
  text-decoration-line: underline;
  font-weight: 700;
  font-size: 32px;
  color: #492118;
  margin-top: 80px;
}

footer p {
  text-align: center;
  color: #858585;
  font-size: 24px;
  font-weight: 400;
  margin-top: 64px;
}
.hamburger-menu {
  background-color: rgba(255, 255, 255, 1);
  height: 70px;
  width: 70px;
  padding: 15px 0 15px 10px;
  text-align: center;
  border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
  cursor: pointer;
  display: none;
}
.hamburger-icon {
  font-size: 25px;
}

@media (max-width: 1200px) {
  nav a {
    font-size: 16px;
  }
  nav a + a {
    margin-left: 42px;
  }
  header {
    padding: 16px 24px;
  }
}

@media (max-width: 960px) {
  nav a {
    font-size: 12px;
  }
  .go-to-top a {
    font-size: 13px;
  }
  .hero-text p {
    font-size: 10px;
  }
  .section p {
    margin-top: 40px;
    font-size: 14px;
  }
  footer p {
    font-size: 12px;
    margin-top: 30px;
  }
  .hero-img img {
    margin-top: 60px;
  }
  nav a + a {
    margin-left: 32px;
  }
}
@media (max-width: 768px) {
  nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    right: -200px;
    padding: 12px 24px;
    top: 6px;
    transition: right 0.5s ease;
    /* display: none; */
  }
  .close-icon {
    display: block;
  }
  nav a + a {
    margin: 0;
    margin-top: 16px;
  }

  .header-content {
    height: 50px;
  }

  header {
    background-color: transparent;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
  }

  .hamburger-menu {
    display: block;
  }

  .hero-img img {
    margin-top: 20px;
  }

  .menu-open nav {
    /* display: flex; */
    right: 24px;
  }
  .menu-open .hamburger-menu {
    display: none;
  }

  .menu-close nav {
    display: none;
  }

  .logo img {
    height: 60px;
  }

  footer {
    margin-top: -50px;
  }
}
